@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
} 
body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
} 
.product-grid{
    text-align:center;
    padding:0 0 90px;
    border:1px solid rgba(0,0,0,.1);
    overflow:hidden;
    position:relative;
    z-index:1;
    box-shadow: 0 3px 20px rgba(0,0,0,0.08);
}
.product-grid .product-image{
    position:relative;
    transition:all .3s ease 0s;
    overflow: hidden;
    height: 180px;
}
.product-grid .product-image img{
    width:100%;
    height: 100%;
}
.product-grid .pic-1{
    opacity:1;
    transition:all .3s ease-out 0s
}


.product-grid .product-discount-label {
    color: white;
    background-color:#ff0037;
    font-size:18px;
    text-transform:uppercase;
    padding: 5px 10px;
    display:block;
    position:absolute;
    top:10px;
    left:0
}
.product-grid .product-discount-label{
    background-color:#333;
    left:auto;
    right:0
}
.wish-btn {
    background-color: transparent;
    color: #ff0037;
}

.product-grid .rating{
    color:#FFD200;
    font-size:12px;
    padding:12px 0 0;
    margin:0;
    list-style:none;
    position:relative;
    z-index:-1
}
.product-grid .rating li.disable{
    color:rgba(0,0,0,.2)
}
.product-grid .product-content{
    background-color:#fff;
    text-align:center;
    padding:12px 0;
    margin:0 auto;
    position:absolute;
    left:0;
    right:0;
    bottom:-30px;
    z-index:1;
    transition:all .3s
}
.product-grid:hover .product-content{
    bottom:0
}
.product-grid .title{
    font-size:15px;
    font-weight:400;
    letter-spacing:.5px;
    text-transform:capitalize;
    margin:0 0 10px;
    transition:all .3s ease 0s
}
.product-grid .title a{
    color:#828282
}
.product-grid .title a:hover,
.product-grid:hover .title a{
    color:#462700;
}
.product-grid .price{
    color:#76323F   ;
    font-size:17px; 
    font-weight:700;
    letter-spacing:.6px;
    margin-bottom:8px;
    text-align:center;
    transition:all .3s
}
.product-grid .add-to-cart{
    color:rgba(0, 0, 0, 0.678);
    font-size:13px;
    font-weight:600
}
.product-grid .add-to-cart:hover {
    text-decoration: underline;
}
@media only screen and (max-width:990px){
    .product-grid{
        margin-bottom:30px
    }
}
 

  