div {
    height: 60px;
}
nav {
    color: #2d4659;
}
.navbar{
    /* background-color: #2d4659; */
    background-color: #ffffff;
    
    font-size: 1em;
    text-align: center;
}
span#brand-color{
    color: #2d4659;
    font-size: 0.9em;
}
a {
    color: #2d4659;
}
a:hover {
    color: #f28500;
}
span{
    font-size: 0.7em;
}

.is-active {
    color: #f28500;
}