
<div>
  <nav class="navbar navbar-expand border-bottom">

    <div class="nav-link" [ngClass]="{'active': showMenuOption}" (click)="toggleSlider()">
        <svg class="hamburger" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100">
              <g fill="none" stroke="#000" stroke-width="7.999" stroke-linecap="round">
                <path d="M 55,26.000284 L 24.056276,25.999716" />
                <path d="M 24.056276,49.999716 L 75.943724,50.000284" />
                <path d="M 45,73.999716 L 75.943724,74.000284" />
                <path d="M 75.943724,26.000284 L 45,25.999716" />
                <path d="M 24.056276,73.999716 L 55,74.000284" />
              </g>
        </svg>
    </div>

    <a class="navbar-brand"><span id="brand-color"><b>P<br>Shop</b></span></a>

    <a class="nav-link" routerLink="home" [routerLinkActive]="['is-active']">Home </a>
    
    <ul class="navbar-nav mr-auto" *ngIf="isLoggedIn && showAdminBoard">
      <li class="nav-item">
        <a class="nav-link" routerLink="admin" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:
          true}">Admin Board</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="admin/view-all" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:
          true}">View all</a>
      </li>
    </ul>

    <ul class="navbar-nav mr-auto" *ngIf="isLoggedIn && showVendorBoard">
      <li class="nav-item">
        <a class="nav-link" routerLink="vendor" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:
          true}">Vendor Board</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="vendor/create-product" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:
          true}">Create Product</a>
      </li>
    </ul>

    <ul class="navbar-nav mr-auto" *ngIf="isLoggedIn && showEmployeeBoard">
      <li class="nav-item">
        <a class="nav-link" routerLink="employee" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:
          true}">Orders</a>
      </li>
    </ul>

    <ul class="navbar-nav mr-auto" style="width: 50%; margin: 0 auto;">
      <li style="width: 100%">
        <input type="text" class="input-number" [ngModel]="filterText" (ngModelChange)="sendTextToComponent($event)" placeholder="Search"/>
      </li>
      <li style="margin: 20px 5px;">
        <a id="link-btnn" class="btnn-blue btn-small" (click)="sendTextToComponent(filterText)" routerLink="employee/cart" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:
          true}"><i style="padding: 5px 10px;" class="fas fa-search"></i></a>
      </li>

      <li style="margin: 20px 5px;" *ngIf="!isLoggedIn || showEmployeeBoard">
        <a id="link-btnn" class="btnn-blue btn-small" routerLink="employee/cart" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:
          true}"><i style="padding: 5px 10px;" class="fab fa-opencart"></i></a>
      </li>

      <li style="margin: 20px 5px;" *ngIf="!isLoggedIn || showEmployeeBoard">
        <a id="link-btnn" class="btnn-blue btn-small" routerLink="employee/wishlist" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:
          true}"><i style="padding: 5px 10px;" class="fas fa-heart"></i></a>
      </li>
    </ul>
  
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a class="nav-link" routerLink="login" [routerLinkActive]="['is-active']">Login</a>
      </li>
    </ul>
  
    <ul class="navbar-nav ml-auto" style="color: #2a3c66" *ngIf="isLoggedIn">
      <mdb-icon fas icon="user-tie fa-2x" style="margin: 5px 5px; " title="Hi" ></mdb-icon>
      <li class="nav-item" style="margin-right: 20px;">
        Hey <b><b>{{ username | titlecase}}</b></b><br>
          <span *ngIf="showEmployeeBoard">Employee </span>
          <span *ngIf="showVendorBoard">Vendor</span>
          <span *ngIf="showAdminBoard">Admin </span>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </nav>
</div>



 