
<div class="fixed-top">
  <nav class="navbar navbar-expand border-bottom">
    <a class="navbar-brand"><span id="brand-color"><b>P<br>Shop</b></span></a>

    <a class="nav-link" routerLink="home" [routerLinkActive]="['is-active']">Home </a>
    
    <ul class="navbar-nav mr-auto" *ngIf="isLoggedIn && showAdminBoard">
      <li class="nav-item">
        <a class="nav-link" routerLink="admin" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:
          true}">Admin Board</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="admin/view-all" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:
          true}">View all</a>
      </li>
    </ul>

    <ul class="navbar-nav mr-auto" *ngIf="isLoggedIn && showVendorBoard">
      <li class="nav-item">
        <a class="nav-link" routerLink="vendor" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:
          true}">Vendor Board</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="vendor/create-product" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:
          true}">Create Product</a>
      </li>
    </ul>

    <ul class="navbar-nav mr-auto" *ngIf="isLoggedIn && showEmployeeBoard">
      <li class="nav-item">
        <a class="nav-link" routerLink="employee" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:
          true}">Orders</a>
      </li>
    </ul>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><input type="text" class="form-control" [ngModel]="filterText" (ngModelChange)="sendTextToComponent($event)" placeholder="search"/></li>
      <li class="nav-item" style="margin-left: 5px;"><button class="btn btn-outline-dark" (click)="sendTextToComponent(filterText)">
        <i class="fas fa-search"></i></button>
      </li>

      <li class="nav-item link-btn" style="margin-left: 5px;" *ngIf="!isLoggedIn || showEmployeeBoard">
        <a class="btn btn-outline-dark" routerLink="employee/cart" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:
          true}"><i class="fab fa-opencart"></i></a>
      </li>

      <li class="nav-item link-btn" style="margin-left: 5px;" *ngIf="!isLoggedIn || showEmployeeBoard">
        <a class="btn btn-outline-dark" routerLink="employee/wishlist" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:
          true}"><i class="fas fa-heart"></i></a>
      </li>
    </ul>
  
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="signup" [routerLinkActive]="['is-active']">Sign Up</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="login" [routerLinkActive]="['is-active']">Login</a>
      </li>
    </ul>
  
    <ul class="navbar-nav ml-auto" style="color: #2a3c66" *ngIf="isLoggedIn">
      <mdb-icon fas icon="user-tie fa-2x" style="margin: 5px 5px; " title="Hi" ></mdb-icon>
      <li class="nav-item" style="margin-right: 20px;">
        Hey <b>{{ username | titlecase}}</b><br>
          <span *ngIf="showEmployeeBoard">Employee </span>
          <span *ngIf="showVendorBoard">Vendor</span>
          <span *ngIf="showAdminBoard">Admin </span>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>
</div>

 