
<div class="container text-center animated slideInUp" *ngIf="errorStatus == 403" style="padding: 120px 0 50px 0;">
    <img src="https://cdn.dribbble.com/users/380855/screenshots/2686687/td_403.jpg"  />
</div>

<div class="container text-center animated slideInUp" *ngIf="errorStatus == 404" style="padding: 50px 0 50px 0;">
    <img src="https://cdn.dribbble.com/users/1408464/screenshots/6377404/404_illustration.png" class="rounded"/><br>
    <strong style="font-size:larger; height: 50px;">404 - Page not Found. Token expired. <br> 
        <a href="http://localhost:4200/login" class='nav-link'> Log in </a>
    </strong>
</div>