div.shadow > button {
    width: 100%;
}

div.col-md-4 {
    max-width: fit-content;
    max-height: fit-content;
    margin: 10px;
    padding: 20px;
}

div.shadow > label {
    margin: 10px auto;
}

img{
    max-height: fit-content;
    max-width: 150px;
}
