<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <title>Order</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>



<head>
  <meta charset="utf-8">
  <base href="/">
  <title>Order Items</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <link href="/assets/css/font-awesome.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
  <link
    href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
    rel='stylesheet' type='text/css'>
</head> -->


<div class="container" style="padding: 10px 0 10px 0;">
<!-- products -->
<div class="form-group">
  <div class="alert alert-danger alert-dismissible fade show hoverable animated fadeInUp" role="alert" *ngIf="!isLoggedIn"> Log in to place an order. 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="new-products text-center">
    <div class="container">
      <div class="row col-md-4 animated slideInUp">
        <div class="col-md-4 text-center img-thumbnail hoverable">
            <img src="assets/images/25.jpg" class="rounded" /><br>
            <label style="color: rgb(107, 107, 107);">LG Monitor</label><br>
            <button type="submit" id="monitor" [class.grey]="buttonMDisabled" [disabled]="buttonMDisabled" class="btn btn-primary"
                (click)="addLGMonitor(true)">Add to cart</button>
        </div>

        <div class="col-md-4 text-center img-thumbnail hoverable">
          <img src="assets/images/42.jpg" class="rounded" /><br>
          <label style="color: rgb(107, 107, 107);">HP Monitor</label><br>
          <button type="submit" id="monitor" [class.grey]="buttonMDisabled" [disabled]="buttonMDisabled" class="btn btn-primary"
              (click)="addHPMonitor(true)">Add to cart</button>
        </div>

        <div class="col-md-4 text-center img-thumbnail hoverable">
          <img src="assets/images/keyboard.jpg" class="rounded" /><br>
          <label style="color: rgb(107, 107, 107);">KeyBoard</label><br>
          <button type="submit" id="keyboard" [class.grey]="buttonKeyboardDisabled" [disabled]="buttonKeyboardDisabled" class="btn btn-primary"
                (click)="addKeybord(true)">Add to cart</button>
        </div>

        <div class="col-md-4 text-center img-thumbnail hoverable">
          <img src="https://in-media.apjonlinecdn.com/catalog/product/cache/74c1057f7991b4edb2bc7bdaa94de933/h/2/h2c21aa.png" class="rounded" /><br>
          <label style="color: rgb(107, 107, 107);"> Mouse </label><br>
          <button type="submit" id="mouse" [class.grey]="buttonMouseDisabled" [disabled]="buttonMouseDisabled" class="btn btn-primary"
                (click)="addMouser(true)">Add to cart</button>
        </div>

        <div class="col-md-4 text-center img-thumbnail hoverable">
          <img src="assets/images/47.jpg" class="rounded"/><br>
          <label style="color: rgb(107, 107, 107);"> Table 1 </label><br>
          <button type="submit" id="table" [class.grey]="buttonTableDisabled" [disabled]="buttonTableDisabled" class="btn btn-primary"
                (click)="addtable1(true)">Add to cart</button>
        </div>

        <div class="col-md-4 text-center img-thumbnail hoverable">
          <img src="assets/images/48.jpg" class="rounded"/><br>
          <label style="color: rgb(107, 107, 107);"> Table 2 </label><br>
          <button type="submit" id="table" [class.grey]="buttonTableDisabled" [disabled]="buttonTableDisabled" class="btn btn-primary"
                (click)="addtable2(true)">Add to cart</button>
        </div>

        <div class="col-md-4 text-center img-thumbnail hoverable">
          <img src="assets/images/37.jpg" class="rounded"/><br>
          <label style="color: rgb(107, 107, 107);">Chair</label><br>
          <button type="submit" id="chair" [class.grey]="buttonChairDisabled" class="btn btn-primary" [disabled]="buttonChairDisabled"
                (click)="addchair(true)">Add to cart</button>
        </div>
      </div>
    </div>


    <div class="container animated slideInUp" *ngIf="map.size != 0">
      <table class="table table-bordered shadow-sm" id="Items-list">
        <thead>
          <th>Items Selected</th>
          <th>Quantity</th>
          <th>Remove</th>
        </thead>
        <tbody>
          <tr *ngFor="let mapEntry of map| keyvalue">
            <td>{{ mapEntry.key }}</td>
            <td>1</td>
            <td>
              <button type="button" class="btn btn-outline-danger" (click)="Remove(mapEntry.key)">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>

      <button type="button" class="btn btn-primary" style="margin: 20px;" (click)="confirmOrder()">Confirm
        Orders </button>
    </div>
  </div>

<!--button-->
  <div class="container col-md-8 animated slideInUp" *ngIf="map.size != 0" id="TestsDiv" style="display: none;">
  
    <form name="form" class="border rounded shadow-sm" style="color: rgb(107, 107, 107);padding: 50px; margin: 10px auto 100px auto;" 
      (ngSubmit)="f.form.valid && addToCart()" #f="ngForm" novalidate>

      <div class="form-group">
        <div class="alert alert-success alert-dismissible shadow animated zoomIn" role="alert" *ngIf="isLoggedIn && orderPlaced > 0"> 
            {{ orderedItems }} ordered successfully.
          
        </div>
      </div>

      <div class="form-group">
        <div class="alert alert-danger alert-dismissible shadow animated zoomIn" role="alert" *ngIf="isLoggedIn && orderNotPlaced > 0"> 
            {{ unorderedItems }} already ordered.
          
        </div>
      </div>

      <div class="form-group">
        <div class="alert alert-danger alert-dismissible shadow animated zoomIn" role="alert" *ngIf="shippingAddressError != null">
            {{ shippingAddressError }}
          
        </div>
      </div>

      <h2>Delivery Details</h2>
      <div class="form-group row col-md-12">
        <label for="address">Address </label>
        <input type="text" class="form-control" name="employeeShippingAddress" [(ngModel)]="employeeShippingAddress"
          placeholder="Shipping Address" required #ShippingAddress="ngModel">
        <div class="alert alert-danger animated zoomIn" role="alert" *ngIf="f.submitted && ShippingAddress.invalid">
          Address is required!
        </div>
      </div>

      <div class="form-group row col-md-12">
        <label for="phno">Contact details</label>
        <input type="number" class="form-control" [(ngModel)]="employeePhoneNumber" placeholder="Phone Number"
          name="employeePhoneNumber" required minlength="10" maxlength="10" #PhoneNumber="ngModel" />
        <div class="alert alert-danger animated zoomIn" role="alert" *ngIf="f.submitted && PhoneNumber.invalid">
          <div *ngIf="PhoneNumber.errors.required">Phone Number is required</div>
          <div *ngIf="PhoneNumber.errors.maxlength">Phone Number should be at least 10</div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> Submit
      </button>

      <div class="alert alert-success" id="onsubmit" style="display:none">
        <strong>Success!</strong> Order placed sucessfully.
      </div>

    </form>
  </div>

</div>

