
div.shadow > button {
    width: 100%;
}

div.col-md-4 {
    padding: 0 0 10px 0;
    max-width: 250px;
    margin: 15px;
    overflow: hidden;
    color: rgb(107, 107, 107);
}

/* div.shadow > label {
    margin: 2px auto;
} */

img{
    height: 200px;
}

.grey {
    background-color: grey;
    border: 2px solid rgb(121, 121, 121);;
}

.active-linkk {
    font-weight: bold;
}