<div class="container text-center animated slideInUp" *ngIf="isAllowedToViewPage == 1" style="padding: 50px 0 50px 0;">
    <img src="assets/images/403-.jpg"  />
</div>

<div class="container text-center animated slideInUp" *ngIf="tokenExpired" style="padding: 50px 0 50px 0;">
    <img src="assets/images/404.jpg" class="rounded"/><br>
    <strong style="font-size:larger; height: 50px;">404 - Page not Found. Token expired. <br> 
        <a href="http://localhost:4200/login" class='nav-link'> Log in </a></strong>
</div>

<div class="container animated slideInUp" *ngIf="isAllowedToViewPage == 0 && !tokenExpired">
    <table class="table table-striped" style="text-align: center;">
        <thead>
            <tr>
                <th>Order Id</th>
                <th>Item ordered</th>
                <th>Shipping Address</th>
                <th>Order Date</th>
                <th>Shipped Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders">
                <td>{{ order.orderId }}</td>
                <td>{{ order.itemRequested | titlecase}} <br> <span>Qty: {{ order.qty }}</span></td>
                <td>{{ order.shippingAddress | titlecase}} <br> {{ order.phnNo }}</td>
                <td>{{ order.orderDate | slice:0:11 }}</td>
                <td><b>{{ order.isRejectedByAdmin == 1 ? (order.shippedDate == null ? "Approved" : order.shippedDate | slice:0:11) : 
                    (order.isRejectedByAdmin == 0 ? "Not approved" : "Rejected") }}</b></td>
            </tr>
        </tbody>
    </table>
</div>