.comment-container {
    display: flex; 
    flex-direction: column;
    border: 1px solid #e0e0e0; 
    margin: 20px 0; 
    border-radius: 5px;
    padding: 20px;
    box-shadow: 5px 5px 15px rgb(235, 235, 235);
}

.comment-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.comment-text {
    font-size: 22px;
    font-weight: 500;
}

.rating-buttons {
    padding: 10px 0 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.rating-buttons > button {
    background-color: transparent;
    border: none;
}
.is-yellow {
    color: #FFD200;
}
.rating-text {
    font-size: 17px;
    font-weight: 500;
}
.is-green {
    color: green;
}
.is-orange {
    color: orange;
}
.is-red {
    color: red;
}

/* div > input {
    background-color: transparent;
    border: 1px solid #295aa8;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    color: #555555;
    letter-spacing: 0.6px;
    font-size: 1.08em;
} */

div > textarea {
    background-color: transparent;
    border: 1px solid #295aa8;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    color: #555555;
    letter-spacing: 0.6px;
    font-size: 1.08em;
}