<div class="container text-center" *ngIf="isAllowedToViewPage == 1" style="padding: 50px 0 0 0;">
    <img src="assets/images/403-.jpg"  />
</div>

<div class="container text-center" *ngIf="tokenExpired">
    <img src="assets/images/404.jpg" class="rounded"/><br>
    <strong style="font-size:larger; height: 50px;">404 - Page not Found. Token expired. <br> 
        <a href="http://localhost:4200/login" class='nav-link'> Log in </a></strong>
</div>

<div class='container' *ngIf="isAllowedToViewPage == 0 && !tokenExpired">
<table class="table table-striped" style="text-align: center;">
    <thead>
        <tr>
            <th>Order Id</th>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>Email</th>
            <th>Item ordered</th>
            <th>Qty</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orders">
            <td>{{ order.orderId }}</td>
            <td>{{ order.empId }}</td>
            <td>{{ order.empName | titlecase}}</td>
            <td>{{ order.email }}</td>
            <td>{{ order.itemRequested | titlecase}}</td>
            <td><input type="number" class="form-control" [(ngModel)]="order.qty" 
                    [disabled]="isDisabled(order.isRejectedByAdmin)">
            </td>
            <td *ngIf="order.isRejectedByAdmin!=0"> <b><i>{{ ifAcceptedByAdmin(order.isRejectedByAdmin) }}</i></b>
            </td>
            <td *ngIf="order.isRejectedByAdmin==0">
                <button (click)="acceptOrder(order.orderId, order.qty)" class="btn btn-success"> Approve </button>
                <button (click)="rejectOrder(order.orderId, order.qty)" class="btn btn-danger" style="margin: 10px;"> Reject</button>
            </td>
        </tr>
    </tbody>
</table>
</div>