<app-header></app-header>
<div class="container-fluid" style="padding-bottom: 100px;">
  <router-outlet></router-outlet>
</div>



<!-- Footer -->
<footer class="page-footer fixed-bottom animated fadeInUp">
  <div class="container text-center" id="sticky-footer">
    <div class="row">
      <div class="col-md-12">
        <div class="mb-4 flex-center">
          <!-- Facebook -->
          <a class="fb-ic animated slideInUp"><mdb-icon fab icon="facebook" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon></a>
          <!-- Twitter -->
          <a class="tw-ic animated slideInUp"><mdb-icon fab icon="twitter" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon></a>
          <!--Instagram-->
          <a class="ins-ic animated slideInUp"><mdb-icon fab icon="instagram" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#">Perpendicular Shop</a>
  </div>

</footer>
