table  {
    color: rgba(0, 0, 0, 0.9);
    font-size: 1em;
    padding: 10px 200px;
}
th, td {
    letter-spacing: 0.8px;
}
td{
    height: 120px;
    vertical-align: middle;
}
td > span {
    font-size: 0.8em;
}
td > img {
    width: 150px;
}

.empty-order {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.empty-order > img {
    height: 300px;
    width: 400px;
}
.empty-order > p{
    font-size: 18px;
    letter-spacing: 1.5px;
}
.empty-order > a {
    margin: 10px;
}



