<!-- <div class="container text-center animated slideInUp" *ngIf="isAllowedToViewPage == 1" style="padding: 50px 0 50px 0;">
    <img src="assets/images/403-.jpg"  />
</div>

<div class="container text-center animated slideInUp" *ngIf="tokenExpired" style="padding: 50px 0 50px 0;">
    <img src="assets/images/404.jpg" class="rounded"/><br>
    <strong style="font-size:larger; height: 50px;">404 - Page not Found. Token expired. <br> 
        <a href="http://localhost:4200/login" class='nav-link'> Log in </a></strong>
</div> -->

<app-error *ngIf="errorType != 0" [errorStatus]="errorType"></app-error>

<div class="container animated fadeIn" *ngIf="errorType == 0 && !tokenExpired">
    <table class="table table-striped" style="text-align: center;">
        <thead>
            <tr>
                <th> </th>
                <th>Order Id</th>
                <th>Item ordered</th>
                <th>Price</th>
                <th>Emp Name</th>
                <th>Shipping Address</th>
                <th>Order Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders">
                <td><img [src]="order?.productImageUrl" class="rounded"/></td>
                <td>{{ order?.orderId }}</td>
                
                <td>{{ order?.productName | titlecase}} <br> 
                    <span>Qty: {{ order?.qty }}</span></td>

                <td><b><b>{{ calculatePrice(order?.productPrice, order?.qty) | currency:'INR' }}</b></b></td>

                <td>{{ order?.empFirstName + " " + order?.empLastName | titlecase}}<br>
                    {{ order?.email }}</td>
                <td>{{ order?.address | titlecase}} <br> {{ order?.phoneNumber }}</td>
                <td>{{ showDate(order?.orderDate, order?.shippedDate, order?.deliveryDate) | date:'h:mm a'}}
                    <br>{{ showDate(order?.orderDate, order?.shippedDate, order?.deliveryDate) | date:' EEE, MMM d'}}
                </td>
                <td><b>{{ order?.isRejectedByAdmin == 1 ? "Approved" : "Not approved" }}</b></td>
            </tr>
        </tbody>
    </table>
</div>