/* You can add global styles to this file, and also import other style files */
@import  "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin-bottom: -50px;
    background-color: green;
    text-align: center;
    color: white;
}

.navbar{
    background-color: green;
    color: white;
}

.nav-link{
    color: white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
