.signup-component {
    max-width: 50%;
    margin: 50px auto;
}

form > div > h2 {
    letter-spacing: 0.2px;
    color: rgba(0, 0, 0, 0.7);
}

hr {
    margin-top: 20px;
    margin-bottom: 30px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }